/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Hero CSS */

.hero {
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero::before {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  min-height: 70vh;
}

.heading {
  position: relative;
  z-index: 10;
}

.heading span {
  font-size: 3.25rem;
}

.heading .icon img {
	width: 25%;
	transform: rotate(-35deg);
}

.heading .icon {
	position: absolute;
	left: 60%;
	top: -30px;
	z-index: -1;
}

/* Income and Expenses */

.income-detail, .expense-detail {
  min-height: 300px;
}


